.intro-backdrop {
    background-image: url('./bgNew.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Rubik' , sans-serif;
    height: 100vh;
    top: 100;
    
}
.heading{
    position: relative;
}
.logo{
    position: absolute;
}
body{
    overflow-x: hidden;
}