body {
    margin: 0;
    font-family: sans-serif;
    background-color: #0F172A;
    color: white;
    padding: 2em;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 0.5rem;
}

.timeline-title {
    text-align: center;
}

.timeline-title h1 {
    margin-top: 0.3em;
    font-size: 6em;
}

.timeline-title p {
    color: #0d71fc;
    font-size: 1.3em;
}

.timeline {
    margin: 5em auto;
    max-width: 34.15em;
}

.timeline-container {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.timeline-container div {
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
    background-color: rgba(255, 255, 255, 0.2);
}

.timeline-container p {
    line-height: 27px;
}

.timeline-container:nth-child(odd) {
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}

.timeline-container:nth-child(even) {
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-17em);
}

.timeline-container:nth-child(odd)::before,
.timeline-container:nth-child(even)::before {
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.timeline-container:nth-child(odd)::before {
    left: 0;
}

.timeline-container:nth-child(even)::before {
    right: 0;
}

/* .timeline-container:nth-child(odd) div::before,
.timeline-container:nth-child(even) div::before {
    content: '';
    background: #fff;
    box-shadow: 0 0 0 0.3em #0d71fc;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
} */

.timeline-container:nth-child(odd) div::before {
    left: -0.5em;
}

.timeline-container:nth-child(even) div::before {
    right: -0.5em;
}


/* Responsive Design */
@media screen and (max-width: 1320px) {
    .timeline-title h1 {
        font-size: 5em;
    }

    .timeline-title p {
        color: #0d71fc;
        font-size: 1em;
    }

    .timeline {
        margin: 5em auto;
        max-width: 30.15em;
    }

    .timeline-container {
        max-width: 30em;
    }

    .timeline-container p {
        line-height: 25px;
    }
    
    .timeline-container:nth-child(odd) {
        transform: translateX(15em);
    }
    
    .timeline-container:nth-child(even) {
        transform: translateX(-15em);
    }
}

@media screen and (max-width: 1175px) {
    .timeline-title h1 {
        font-size: 4em;
    }

    .timeline-title p {
        color: #0d71fc;
        font-size: 1em;
    }

    .timeline {
        margin: 5em auto;
        max-width: 26.15em;
    }

    .timeline-container {
        max-width: 26em;
    }

    .timeline-container p {
        line-height: 24px;
    }
    
    .timeline-container:nth-child(odd) {
        transform: translateX(13em);
    }
    
    .timeline-container:nth-child(even) {
        transform: translateX(-13em);
    }
}

@media screen and (max-width: 1035px) {
    .timeline-title h1 {
        font-size: 4em;
    }

    .timeline-title p {
        color: #0d71fc;
        font-size: 1em;
    }

    .timeline {
        margin: 5em auto;
        max-width: 22.15em;
    }

    .timeline-container {
        max-width: 22em;
    }

    .timeline-container p {
        line-height: 23px;
    }
    
    .timeline-container:nth-child(odd) {
        transform: translateX(11em);
    }
    
    .timeline-container:nth-child(even) {
        transform: translateX(-11em);
    }
}

@media screen and (max-width: 940px) {
    .timeline-title h1 {
        font-size: 4em;
    }

    .timeline-title p {
        color: #0d71fc;
        font-size: 1em;
    }

    .timeline {
        margin: 5em auto;
        max-width: 16.15em;
    }

    .timeline-container {
        max-width: 16em;
    }

    .timeline-container h1 {
        font-size: 1.6em;
    }

    .timeline-container p {
        line-height: 23px;
        font-size: 0.9em;
    }
    
    .timeline-container:nth-child(odd) {
        transform: translateX(8em);
    }
    
    .timeline-container:nth-child(even) {
        transform: translateX(-8em);
    }
}

@media screen and (max-width: 750px) {
    .timeline {
        width: 80vw;
    }

    .timeline .timeline-container {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    .timeline .timeline-container::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline .timeline-container div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 465px) {
    .timeline {
        width: 60vw;
    }

    .timeline-title h1 {
        font-size: 3em;
    }

    .timeline {
        margin: 5em auto;
        max-width: 12.15em;
    }

    .timeline-container {
        max-width: 12em;
    }

    .timeline-container h1 {
        font-size: 1.5em;
    }
    
    .timeline-container p {
        line-height: 20px;
    }

    .timeline .timeline-container {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    .timeline .timeline-container::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline .timeline-container div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 395px) {
    .timeline {
        width: 100vw;
        margin: 5em auto;
    }

    .timeline-title h1 {
        font-size: 2em;
    }

    .timeline-title p {
        font-size: 0.9em;
    }

    .timeline {
        margin: 5ems;
        max-width: 10.15em;
    }

    .timeline-container {
        max-width: 10em;
    }

    .timeline-container div{
        padding: 1em;
    }

    .timeline-container h1 {
        font-size: 1.2em;
    }
    
    .timeline-container p {
        line-height: 18px;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 365px) {
    .timeline {
        width: 100vw;
        margin: 5em auto;
    }

    .timeline-title h1 {
        font-size: 2em;
    }

    .timeline-title p {
        font-size: 0.9em;
    }

    .timeline {
        margin: 3ems;
        max-width: 8.15em;
    }

    .timeline-container {
        max-width: 8em;
    }

    .timeline-container div{
        padding: 0.7em;
    }

    .timeline-container h1 {
        font-size: 1em;
    }
    
    .timeline-container p {
        line-height: 15px;
        font-size: 0.6em;
    }
}
