.text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

#moon {
  position: absolute;
  opacity: 0.8;
  width: 20%;
  height: auto;
  left: 30%;
  top: 10%;
}


#section-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#section-hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #024669, transparent);
  z-index: 1000;
}

section img {
  position: relative;
  width: 100%;
}

#title-1 {
  position: absolute;
  color: #fff;
  font-size: 400%;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10dvh;
  left: 100px;
}

.main-background {
  background-color: black;
  height: 100vh;
  color: #fff;
  overflow: hidden;
}

.title-container {
  width: 40%;
  height: 50%;
  background-color: black;
  border-radius: 10px;
  color: black;
  text-align: center;
  font-size: 100px;

  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-landing {
  max-width: 40%;
  max-height: auto;
  border-radius: 10px;
  position: relative;
}

#cloud-right {
  position: absolute;
  top: -20%;
  right: -0%;
  width: auto;
  height: 100%;
  opacity: 0.7;
}

#cloud-left {
  position: absolute;
  top: -20%;
  left: -10%;
  width: auto;
  height: 100%;
  opacity: 0.7;
}

.center-container {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
  overflow: hidden;
}

.center-container img {
  position: absolute;
  width: 40%;
  height: auto;
  left: 30%;
  top: 30%;
}

#thunder-1 {
  width: auto;
  height: 100%;
  left: 0%;
  top: 0%;
}

#thunder-2 {
  width: auto;
  height: 100%;
  left: 50%;
  top: 0%;
}

#logo-landing {
  top: 10%;
}

#intro-text {
  position: relative;
  right: 20%;
}

#ship {
  position: fixed;
  bottom: -10%;
  height: 80%;

  width: auto;

  /* left : -15%; */
}

#intro-div {
  position: relative;
  top: 40%;
  right: -80%;
  width: 50%;
  height: 60%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 280%;

  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

  padding: 10dvh;
  text-align: right;
  text-shadow: 2px 2px 4px #000000;
}

#animated-page-background {
  position: absolute;
  height: auto;
  width: 100%;
}

#mora-landing-left {
  -webkit-mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  );
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

#mora-landing-right {
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  );
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

#uxplore-landing-right {
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  );
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

#logo {
  position: absolute;
  padding: 5%;
  margin-top: 10%;
  width: 20%;
  height: auto;
  top: -20%;
}

#ieelogo {
  position: relative;
  right: inherit;
  left: 65%;

  top: 27%;
  width: 20%;
  height: auto;
  z-index: 1001;
}


#cse-logo {
  position: relative;
  right: inherit;
  left: 87%;

  top: 17%;
  width: 10%;
  height: auto;
  z-index: 1001;
}
#text-division {
  position: relative;
  top: 45%;
  right: -80%;
  width: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 400%;

  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding: 10dvh;
  text-align: right;
  text-shadow: 2px 2px 4px #000000;
}
@media screen and (max-width: 1200px) {
  #animated-page-background {
    height: 100%;
    width: 100%;
  }

  #logo {
    width: 20%;
    height: auto;
    top: -20%;
  }

  #ship {
    left: -20%;
  }

  #intro-div {
    position: relative;
    top: 45%;
    right: -80%;
    width: 60%;
    height: 70%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 280%;

    text-align: right;
    text-shadow: 2px 2px 4px #000000;
  }

  #ieelogo {
    left: 63%;

    top: 20%;
    width: 20%;
  }

  #cse-logo {
 top: 10%
  }

  #moon {
    width: 20%;
    height: auto;
    left: 20%;
    top: 10%;
  }

  #main-div-after-animated {
    height: 80%;
    width: auto;
  }

  #cloud-right {
    top: 0%;
    right: -30%;
  }

  #cloud-left {
    top: 0%;
    left: -30%;
  }
  #text-division {
    font-size: 450%;

    right: -65%;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  #animated-page-background {
    height: 100%;
    width: 100%;
  }

  #ieelogo {
    left: 0%;

    top: 0%;
    width: 20%;
  }

  #cse-logo {
    top: 40%
  }
  #intro-div {
    height: 70%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 200%;
   
  
   
   
  }

  #ship {
    left: -20%;
  }
  #moon {
    width: 30%;
    height: auto;
    left: 20%;
    top: 10%;
  }

  #logo {
    width: 20%;
    height: auto;
    top: -10%;
  }

  #text-division {
    font-size: 350%;

    right: -70%;
    top: 40%;
  }
}


@media screen and (max-width: 1024px) and (orientation: landscape) {
  #animated-page-background {
    height: 100%;
    width: 100%;
  }

  /* #ieelogo {
    left: 50%;

    top: 30%;
    width: 20%;
  } */

  #cse-logo {
    top : 13%;
    left : 85%;
  }

  #intro-div {
    height: 70%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 240%;
   
  }

  

  #ship {
    left: -20%;
  }
  #moon {
    width: 30%;
    height: auto;
    left: 20%;
    top: 10%;
  }

  #logo {
    width: 20%;
    height: auto;
    top: -15%;
  }

  #text-division {
    font-size: 350%;
    right: -70%;
    top: 40%;
  }
}

@media screen and (max-width: 900px) and (orientation: portrait) {
  #animated-page-background {
    height: 100%;
    width: auto;
  }

  #ieelogo {
    left: 75%;

    top: 0%;
    width: 20%;
  }

  /* #cse-logo {
    top: 20%
  } */
  #intro-div {
    height: 70%;
    transform: translate(-50%, -50%);
    color: #fff;
   
    font-size: 200%;
   
    
  }

  #ship {
    left: -20%;
  }
  #moon {
    width: 50%;
    height: auto;
    left: 20%;
    top: 10%;
  }

  #logo {
    width: 20%;
    height: auto;
    top: -10%;
  }

  #text-division {
    font-size: 300%;

    right: -70%;
    top: 40%;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  #animated-page-background {
    height: 100%;
    width: 100%;
  }
  #intro-div {
    height: 70%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 220%;
   

  }

  #ieelogo {
    left: 50%;

    top: 17%;

    width: 25%;
  }

  #cse-logo {
    top: 10%;
    left: 80%;
  }

  #ship {
    left: -20%;
  }
  #moon {
    width: 20%;
    height: auto;
    left: 20%;
    top: 10%;
  }

  #logo {
    width: 20%;
    height: auto;
    top: -10%;
  }

  #text-division {
    font-size: 350%;

    right: -60%;
    top: 40%;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #animated-page-background {
    height: 100%;
    width: auto;
  }
  #intro-div {
    height: 80%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 180%;
  }

  #ieelogo {
    left: 45%;

    top: 12%;
    width: 30%;
  }

  #cse-logo {
    top: 6%;
    left: 80%;
  }

  #ship {
    left: -20%;
  }
  #moon {
    width: 50%;
    height: auto;
    left: 20%;
    top: 10%;
  }

  #logo {
    width: 25%;
    height: auto;
    top: -5%;
  }

  #main-div-after-animated {
    height: 80%;
    width: auto;
  }

  #cloud-right {
    top: 0%;
    right: -60%;
  }

  #cloud-left {
    top: 0%;
    left: -60%;
  }

  #text-division {
    right: inherit;
    font-size: 300%;
    left: 40%;
    text-align: left;
    top: 40%;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  #animated-page-background {
    height: 100%;
    width: 100%;
  }

  #ieelogo {
    left:5%;

    top: 20%;
    width: 30%;
  }

  #intro-div {
    height: 50%;
    right: -70%;
    width: 70%;
    top: 40%;
    font-size: 180%;
  }

  #ship {
    left: 0%;
  }
  #moon {
    width: 20%;
    height: auto;
    left: 20%;
    top: 10%;
  }

  #main-div-after-animated {
    height: 80%;
    width: auto;
  }

  #cloud-right {
    top: 0%;
    right: -60%;
  }

  #cloud-left {
    top: 0%;
    left: -60%;
  }

  #text-division {
    font-size: 270%;

    right: -65%;
    top: 50%;
  }

  #logo {
    width: 25%;
    height: auto;
    top: -10%;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #animated-page-background {
    height: 100%;
    width: auto;
  }

  #ship {
    left: -20%;
  }

  #ieelogo {
    left: 40%;
    top: 40%;
    width: 30%;
  }
  #cse-logo {
    top: 36%;
    left: 80%;
    width: 15%;
  }

  #intro-div {
    height: 50%;
    right: -70%;
    width: 70%;
    top: 40%;
    font-size: 150%;
  }

  #moon {
    width: 50%;
    height: auto;
    left: 20%;
    top: 10%;
  }

  #logo {
    width: 40%;
    height: auto;
    top: 10%;
    left: 0%;
  }

  #main-div-after-animated {
    height: 80%;
    width: auto;
  }

  #cloud-right {
    top: 0%;
    width: 140%;

    right: 0%;
  }

  #cloud-left {
    top: 0%;
    left: 50%;
    display: none;
  }
  #intro-text {
    position: relative;
    right: -10%;
  }

  #text-division {
    right: -50%;
    font-size: 200%;
    left: inherit;
    text-align: right;
    top: 50%;
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  #animated-page-background {
    height: 100%;
    width: 100%;
  }

  #ieelogo {
    left: 45%;

    top: 10%;
    width: 30%;
  }

  #cse-logo {
    top : inherit;
    bottom : 5%;
    
    width : 12%;
    left: 80%;
  }

  #ship {
    left: 0%;
  }
  #moon {
    width: 30%;
    height: auto;
    left: 20%;
    top: 10%;
  }

  #logo {
    width: 40%;
    height: auto;
    top: 25%;
  }

  #intro-div {
    height: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 100%;
    
  }

  #main-div-after-animated {
    height: 80%;
    width: auto;
  }

  #cloud-right {
    top: 0%;
    right: -60%;
  }

  #cloud-left {
    top: 0%;
    left: -60%;
  }

  #text-division {
    right: inherit;
    font-size: 200%;
    left: inherit;
    right: -65%;
    text-align: right;
    top: 40%;
  }
}

/* @media screen and (max-width : 1000px) {
    #ship {
        bottom : -30%;
    }

} */

#annimated-page-background {
  position: relative;
  height: 100%;
}

#main-div-after-animated {
  height: 100%;
}

/* .center-container img:nth-child(1) {
    top: 50%;
    left: 50%;
}

.center-container img:nth-child(2) {
    top: 50%;
    left: 50%;
    
}

.center-container img:nth-child(3) {
    top: 50%;
    left: 50%;
} */

#registration-text {
  position: relative;
}
