.member-imagetext {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-dev {
  padding: 2.5px;
}

.name-dev > p {
  font-size: 1.2em;
  color: white;
  letter-spacing: 1px;
}

.details-dev {
  padding: 2.5px 5px;
}

.details-dev > p {
  font-size: 1em;
  color: #cbd5e0;
  letter-spacing: 1px;
}

@media screen and (max-width: 1280px) {
  .name-dev > p {
    font-size: 1.2em;
    letter-spacing: 0.9px;
  }
  .details-dev > p {
    font-size: 1em;
    letter-spacing: 0.9px;
  }
}

@media screen and (max-width: 1024px) {
  .name-dev > p {
    font-size: 1.1em;
    letter-spacing: 0.8px;
  }
  .details-dev > p {
    font-size: 0.9em;
    letter-spacing: 0.8px;
    /* line-height: 1.35; */
  }
}

@media screen and (max-width: 768px) {
  .name-dev > p {
    font-size: 1em;
    letter-spacing: 0.7px;
  }
  .details-dev > p {
    font-size: 0.8em;
    letter-spacing: 0.8px;
    /* line-height: 1.35; */
  }
}

@media screen and (max-width: 640px) {
  .name-dev > p {
    font-size: 1.1em;
    letter-spacing: 0.8px;
  }
  .details-dev > p {
    font-size: 0.9em;
    letter-spacing: 0.7px;
    /* line-height: 1.35; */
  }
}
