.member-image {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
}

img {
  height: 75%;
  width: 75%;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  img {
    height: 75%;
    width: 75%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  img {
    height: 75%;
    width: 75%;
    object-fit: cover;
  }
}

@media screen and (max-width: 900px) {
  img {
    height: 75%;
    width: 75%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  img {
    height: 75%;
    width: 75%;
    object-fit: cover;
  }
}

@media screen and (max-width: 640px) {
  img {
    height: 75%;
    width: 75%;
    object-fit: cover;
  }
}
